flows.json
[{"id":"a11d952f.99ab78","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"5a1ca174.05fda","type":"ui_form","z":"a11d952f.99ab78","name":"","label":"","group":"eb46ef20.4300e","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five-deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":120,"y":80,"wires":[["e8a8cc0a.07cd8"]]},{"id":"e8a8cc0a.07cd8","type":"function","z":"a11d952f.99ab78","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\n//following are required to receive a token\nvar apikey=\"Ft91C4jW0qKwKZnYE406cYdVPzymrlLG6PslmsB9TV-x\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["9b58d5cf.89dd68"]]},{"id":"9b58d5cf.89dd68","type":"http request","z":"a11d952f.99ab78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":80,"wires":[["df4094d8.3d0af8"]]},{"id":"df4094d8.3d0af8","type":"function","z":"a11d952f.99ab78","name":"sendTo Endpoint","func":"//get tokens and make header\nvar token=msg.payload.access_token;\nvar instance_id=\"4504d1a8-de57-4569-b3cd-1fb257102e79\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-instance-ID\":instance_id}\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\nmsg.payload = {\"input_data\":\n                [\n                  {\n    \"fields\": [\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness 1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]  }\n                ]\n              };\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["6306017d.58d89"]]},{"id":"6306017d.58d89","type":"http request","z":"a11d952f.99ab78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/0df1a754-d4e3-4a6b-94c1-29561d12737c/predictions","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":180,"wires":[["e6f1e94.c946418","ad522154.baaaa"]]},{"id":"ad522154.baaaa","type":"function","z":"a11d952f.99ab78","name":"getFrom Endpoint","func":"msg.payload =msg.payload.predictions[0].values[0][0];;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["4b2a0aea.aa5954","4d7cee17.94165"]]},{"id":"e6f1e94.c946418","type":"debug","z":"a11d952f.99ab78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":180,"wires":[]},{"id":"4b2a0aea.aa5954","type":"debug","z":"a11d952f.99ab78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":280,"wires":[]},{"id":"4d7cee17.94165","type":"ui_text","z":"a11d952f.99ab78","group":"eb46ef20.4300e","order":6,"width":0,"height":0,"name":"","label":"Predicition","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":380,"wires":[]},{"id":"eb46ef20.4300e","type":"ui_group","z":"","name":"Default","tab":"82e5d84b.028d68","order":3,"disp":true,"width":"6","collapse":false},{"id":"82e5d84b.028d68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]